body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(43, 199, 188) 0%,
    rgb(219, 249, 203) 72.9%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.fild {
  background: rgba(249, 246, 246, 0.6);
  border: 2px solid rgb(6, 153, 109);
  max-width: 800px;
  margin: 20px auto;
}
form {
  margin-top: 30px;
  line-height: 35px;
  width: 100%;
}

input {
  border: 2px solid rgb(6, 153, 109);
  font-size: 16px;
  width: 100%;
}

.search {
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  transition: all 200ms ease;
  width: 100%;
}

.search:hover {
  color: #fff;
  background: rgb(5, 92, 66);
}
.current {
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  transition: all 200ms ease;
  width: 50%;
  line-height: 35px;
}
.current:hover {
  color: #fff;
  background: rgb(5, 92, 66);
}
.temperature {
  font-size: 80px;
}
.icon {
  width: 150px;
}
.description {
  text-align: center;
  line-height: 35px;
  border-radius: 0;
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  width: 250px;
  line-height: 35px;
}

.lc,
.currentTime {
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.lc {
  font-size: 60px;
  width: 100%;
  line-height: 1;
}
.ffh {
  color: black;
  font-size: 20px;
  width: 260px;
  line-height: 35px;
  font-weight: bold;
  text-align: left;
}
.git {
  text-align: center;
  margin-top: 10px;
}
.weather-forecast {
  text-align: center;
}
