body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(43, 199, 188) 0%,
    rgb(219, 249, 203) 72.9%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgb(6, 153, 109);
  margin-top: 50px;
}
form {
  text-align: center;
  position: relative;
  top: 4%;
}

button.current,
.temperature,
.description {
  margin: 0px 24.8%;
  display: block;
}

input {
  min-width: 200px;
  width: 650px;
  font-size: 16px;
  border: 2px solid rgb(6, 153, 109);
  position: relative;
  right: -5px;
}
.city2 {
  line-height: 35px;
}
.search {
  border-radius: 0;
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  transition: all 200ms ease;
  width: 125px;
  line-height: 35px;
  margin-top: 20px;
}

.search:hover {
  color: #fff;
  background: rgb(5, 92, 66);
}
.current {
  border-radius: 0;
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  transition: all 200ms ease;
  width: 200px;
  line-height: 35px;
  position: relative;
  left: -9.58%;
}
.current:hover {
  color: #fff;
  background: rgb(5, 92, 66);
}
.temperature {
  font-size: 100px;
  position: relative;
  top: -170px;
  left: 5%;
}
.icon {
  width: 200px;
  position: relative;
  top: 10px;
  left: 140px;
}
.description {
  position: relative;
  left: -9.58%;
  top: -165px;
  text-align: center;
  line-height: 35px;
  border-radius: 0;
  border: 2px solid rgb(6, 153, 109);
  background: rgb(6, 153, 109);
  color: #fff;
  font-size: 16px;
  width: 250px;
  line-height: 35px;
  margin-top: 20px;
}

.lc,
.currentTime {
  color: black;
  font-size: 40px;
  width: 260px;
  line-height: 50px;
  position: relative;
  font-weight: bold;
  top: -450px;
  left: 650px;
  text-align: left;
}
.lc {
  font-size: 50px;
}
.ffh {
  color: black;
  font-size: 20px;
  width: 260px;
  line-height: 35px;
  position: relative;
  font-weight: bold;
  top: -450px;
  left: 650px;
  text-align: left;
}
.git {
  text-align: center;
  margin-top: 10px;
}
.weather-forecast {
  margin-top: -380px;
  margin-left: 10px;
  text-align: center;
}
